In [25]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
sb.set()

In [26]:
success_data = pd.read_pickle('success.pkl')
success_data

      popularity        profit
0      32.985763  1.363529e+09
1      28.419936  2.284364e+08
2      13.112507  1.852382e+08
3      11.173104  1.868178e+09
4       9.335014  1.316249e+09
...          ...           ...
1282    1.549139  1.547778e+08
1283    1.910465  1.301957e+08
1284    1.778746  7.497449e+07
1285    1.198849  6.970000e+07
1286    1.157930  1.383000e+08

[1287 rows x 2 columns]