In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
sb.set()

In [6]:
# Popularity and profit statistics
success_data = pd.read_pickle('success.pkl')
popularity_data = success_data[['popularity']]
profit_data = success_data[['profit']]

### **DIRECTORS**

In [2]:
director = pd.read_pickle('director.pkl')
director

              director
0      Colin Trevorrow
1        George Miller
2     Robert Schwentke
3          J.J. Abrams
4            James Wan
...                ...
1282      Guy Hamilton
1283     Terence Young
1284     Peter R. Hunt
1285    John Carpenter
1286       John Landis

[1411 rows x 1 columns]

In [3]:
director.describe()

              director
count             1411
unique             835
top     John Carpenter
freq                12

### **GENRE**

In [4]:
genre = pd.read_pickle('encoded_genre.pkl')
genre

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
3,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1283,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1284,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1285,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
1286,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
genre.describe()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
count,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287,1287
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
freq,872,990,1179,873,1094,1272,752,1124,1133,1286,1252,1148,1249,1189,1091,1078,888,1255,1274