In [9]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
sb.set()

In [3]:
movie_data = pd.read_csv('TMBD Movie Dataset.csv')

We will be using profit and popularity as the main factors of success

In [4]:
profit = pd.DataFrame(movie_data['profit'])
popularity = pd.DataFrame(movie_data['popularity'])

We have filtered out the factors that we identified to have relevance to the success of a movie

In [24]:
budget = pd.DataFrame(movie_data['budget'])
cast = pd.DataFrame(movie_data['cast'])
director = pd.DataFrame(movie_data['director'])
genres = pd.DataFrame(movie_data['genres'])
runtime = pd.DataFrame(movie_data['runtime'])
production_companies = pd.DataFrame(movie_data['production_companies'])
release_year = pd.DataFrame(movie_data['release_year'])
release_date = pd.DataFrame(movie_data['release_date'])
factors = movie_data[['budget', 'cast', 'director', 'genres', 'production_companies', 'release_year', 'release_date', 'runtime']]
success = movie_data[['popularity', 'profit']]

In [25]:
factors.dropna(axis=0)
success.dropna(axis=0)

      popularity        profit
0      32.985763  1.363529e+09
1      28.419936  2.284364e+08
2      13.112507  1.852382e+08
3      11.173104  1.868178e+09
4       9.335014  1.316249e+09
...          ...           ...
1282    1.549139  1.547778e+08
1283    1.910465  1.301957e+08
1284    1.778746  7.497449e+07
1285    1.198849  6.970000e+07
1286    1.157930  1.383000e+08

[1287 rows x 2 columns]