In [47]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
sb.set()

In [48]:
movie_data = pd.read_csv('TMBD Movie Dataset.csv')

We will be using profit and popularity as the main factors of success

In [49]:
profit = pd.DataFrame(movie_data['profit'])
popularity = pd.DataFrame(movie_data['popularity'])

We have filtered out the factors that we identified to have relevance to the success of a movie

In [50]:
budget = pd.DataFrame(movie_data['budget'])
cast = pd.DataFrame(movie_data['cast'])
director = pd.DataFrame(movie_data['director'])
genres = pd.DataFrame(movie_data['genres'])
runtime = pd.DataFrame(movie_data['runtime'])
production_companies = pd.DataFrame(movie_data['production_companies'])
release_year = pd.DataFrame(movie_data['release_year'])
release_date = pd.DataFrame(movie_data['release_date'])
allfactors = movie_data[['budget', 'cast', 'director', 'genres', 'production_companies', 'release_year', 'release_date', 'runtime', 'popularity', 'profit']]

Removing NaN values

In [51]:
allfactors.dropna()
allfactors = allfactors.reset_index(drop=True)
print(f"The shape of the new dataset: {allfactors.shape}")

The shape of the new dataset: (1287, 10)

In [52]:
allfactors.isnull().values.any()

False

In [53]:
allfactors[['year', 'month', 'day']] = allfactors['release_date'].str.split('-', expand=True)
allfactors.drop(['year', 'day'], axis=1, inplace=True)
factors = allfactors[['budget', 'cast', 'director', 'genres', 'production_companies', 'release_year', 'release_date', 'runtime', 'month']]
success = allfactors[['popularity', 'profit']]

analysis of directors and their average profit & popularity

In [57]:
allfactors["cast"] = allfactors["cast"].str.split("|")
allfactors = allfactors.explode("cast")
allfactors["director"] = allfactors["director"].str.split("|")
allfactors = allfactors.explode("director")
allfactors

,budget,cast,director,genres,production_companies,release_year,release_date,runtime,popularity,profit,month
0,150000000.0,Chris Pratt,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,2015-06-09,124,32.985763,1.363529e+09,06
0,150000000.0,Bryce Dallas Howard,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,2015-06-09,124,32.985763,1.363529e+09,06
0,150000000.0,Irrfan Khan,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,2015-06-09,124,32.985763,1.363529e+09,06
0,150000000.0,Vincent D'Onofrio,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,2015-06-09,124,32.985763,1.363529e+09,06
0,150000000.0,Nick Robinson,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,2015-06-09,124,32.985763,1.363529e+09,06
...,...,...,...,...,...,...,...,...,...,...,...
1286,2700000.0,John Belushi,John Landis,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,1978,1978-07-27,109,1.157930,1.383000e+08,07
1286,2700000.0,Tim Matheson,John Landis,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,1978,1978-07-27,109,1.157930,1.383000e+08,07
1286,2700000.0,John Vernon,John Landis,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,1978,1978-07-27,109,1.157930,1.383000e+08,07
1286,2700000.0,Verna Bloom,John Landis,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,1978,1978-07-27,109,1.157930,1.383000e+08,07
1286,2700000.0,Tom Hulce,John Landis,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,1978,1978-07-27,109,1.157930,1.383000e+08,07

In [58]:
allfactors.groupby('director')[['popularity']].mean().sort_values(['popularity'], ascending=False)

                   popularity
director
Colin Trevorrow     32.985763
George Miller       14.675428
Chad Stahelski      11.422751
David Leitch        11.422751
Christopher Nolan    8.635610
...                       ...
Dan Cutforth         0.050524
Taika Waititi        0.028456
Nathan Frankowski    0.021371
Mary Lambert         0.015997
Fyodor Bondarchuk    0.010335

[835 rows x 1 columns]

In [59]:
allfactors.groupby('director')[['profit']].mean().sort_values(['profit'], ascending=False)

                             profit
director
Colin Trevorrow        1.363529e+09
Joss Whedon            1.212297e+09
Jennifer Lee           1.124219e+09
Kyle Balda             1.082731e+09
James Cameron          1.066388e+09
...                             ...
Steve 'Spaz' Williams -4.261595e+07
Steven Zaillian       -4.554910e+07
Lawrence Kasanoff     -6.492629e+07
James L. Brooks       -7.133109e+07
Sngmoo Lee            -4.139124e+08

[835 rows x 1 columns]

In [60]:
allfactors.groupby('cast')[['popularity']].mean().sort_values(['popularity'], ascending=False)

                    popularity
cast
Nick Robinson        32.985763
Josh Helman          28.419936
Hugh Keays-Byrne     28.419936
Dave Bautista        14.311205
Ansel Elgort         13.112507
...                        ...
Matthew Settle        0.015997
Yanina Studilina      0.010335
Heiner Lauterbach     0.010335
Philippe Reinhardt    0.010335
Maria Smolnikova      0.010335

[2977 rows x 1 columns]

In [61]:
allfactors.groupby('cast')[['profit']].mean().sort_values(['profit'], ascending=False)

                         profit
cast
Adam Driver        1.868178e+09
Daisy Ridley       1.868178e+09
Billy Zane         1.645034e+09
Nick Robinson      1.363529e+09
Stephen Lang       1.251650e+09
...                         ...
Kate Bosworth     -9.866597e+07
Elisabeth Harnois -1.110072e+08
Breckin Meyer     -1.110072e+08
Jang Dong-gun     -4.139124e+08
Ti Lung           -4.139124e+08

[2977 rows x 1 columns]